/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




body{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}
.btn{
    border-radius: 35px;
    padding: 12px 42px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.btn i{
    margin-right: 5px;
}
.border-btn{
    background: transparent;
    border: 2px solid rgba(255,255,255,0.6);
}
.primary-btn{
    background: #24262B;
    border: 2px solid #24262B;
    box-shadow: 0 9px 16px 0 rgba(36, 38, 43, 0.15);
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2{
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 15px;
}
.section-title p{

}

.main-menu{
    background: transparent;
    border-bottom: none;
}

.main-menu .navbar-brand{
    color: #fff;
}
.main-menu .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.home-section{
    background-color: #EE5050;
    padding-top: 75px;
    padding-bottom: 90px;
    height: 100vh;
}
.hero-text-box h1{
    color: #fff;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.hero-text-box {
    padding-top: 200px;
    padding-bottom: 150px;
}
.btn-row .btn:not(:last-child){
    margin-right: 25px;
}
.home-section .img-block{
    text-align: center;
    padding-top: 90px;
}
.home-section .img-block img{
    margin: 0 auto;
}

.download-section{
    text-align: center;
    background-color: #EF5F5F;
}
.feature-section{
    background-color: #EE5050;
}
.feature-section .img-block-left{
    margin-top: 15px;
}
.feature-section .all-features{
    margin-top: 65px;
}
.single-feature{
    margin-bottom: 70px;
}
.single-feature i{
    font-size: 30px;
    margin-bottom: 10px;    
}
.promo-section{
    background: url("../img/promo-back.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
}
.big-text{
    font-size: 64px;
    margin-bottom: 30px;
}
.share-section{
    padding: 110px 0px;
    background-color: #EE5050;
}
ul.social-links li{
    padding: 0 15px;
}
ul.social-links li a{
    color: #24262B;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-size: 24px;
}