html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}
.btn{
    border-radius: 35px;
    padding: 12px 42px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    transition: all 0.25s cubic-bezier(0.625,0.125,0.305,0.875);
}
.uppercase{
    text-transform: uppercase;
}
.btn i{
    margin-right: 5px;
}
.border-btn{
    background: transparent;
    border: 2px solid rgba(255,255,255,0.6);
}
.border-btn:hover {
    background-color: #fff;
}
.primary-btn{
    background: #24262B;
    border: 2px solid #24262B;
    box-shadow: 0 9px 16px 0 rgba(36, 38, 43, 0.15);
}
.primary-btn:hover{
    background: #2C2D33;
    border: 2px solid #2C2D33;
    color: #fff;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2{
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 15px;
}
.section-title p{

}

.main-menu{
    background: transparent;
    border-bottom: none;
}

.main-menu .navbar-brand{
    color: #fff;
    padding: 32.5px 15px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.main-menu .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding-top: 32.5px ;
    padding-bottom: 32.5px ;
}

/* affix menu*/
.main-menu.affix {
    background-color: #24262B;
    height: 60px;
}
.main-menu.affix .navbar-nav>li>a {
    padding-top: 20px ;
    padding-bottom: 20px ;
}
.main-menu.affix .navbar-brand {
    padding: 20px 0 20px 15px;
    font-size: 20px;
}


.home-section{
    background-color: #EE5050;
    padding-top: 75px;
    padding-bottom: 90px;
    height: 100vh;
    min-height: 750px;
}
.hero-text-box p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.hero-text-box h1{
    color: #fff;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.hero-text-box {
    padding-top: 230px;
    padding-bottom: 150px;
}
.btn-row{
    margin-right: -12.5px;
    margin-left: -12.5px;
}
.btn-row .btn{
    margin-right: 12.5px;
    margin-left: 12.5px;
}
.home-section .img-block {
    text-align: center;
    padding-top: 90px;
    max-width: 310px;
    margin-left: auto;
}
.home-section .img-block img{
    margin: 0 auto;
}
.mouse-pointer {
    width: 24px;
    height: 36px;
    border: 3px solid rgba(255,255,255,0.7);
    border-radius: 14px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 120px;
}
.mouse-pointer::after{
    width: 4px;
    height: 8px;
    border-radius: 4px;
    background-color: #fff;
    content: '';
    left: 50%;
    top: 4px;
    bottom: 0;
    margin-left: -2px;
    position: absolute;
    animation: hippo 1s linear infinite;
}
@keyframes hippo {
    0%
    {
        transform: translate(-50%,0px);
        opacity: 0;
        margin-left: 0;
    }
    80%
    {
        transform: translate(-50%,8px);
        opacity: 1;
        margin-left: 0;
    }
    100%
    {
        transform: translate(-50%,15px);
        opacity: 0;
        margin-left: 0;
    }
}

.download-section{
    text-align: center;
    background-color: #EF5F5F;
}
.feature-section{
    background-color: #EE5050;
}
.feature-section .img-block-left{
    margin-top: 15px;
}
.feature-section .all-features{
    margin-top: 65px;
}
.single-feature{
    margin-bottom: 70px;
}
.single-feature i{
    font-size: 30px;
    margin-bottom: 20px;
}
.single-feature h3{
    font-size: 30px;
    margin-bottom: 12px;
}
.promo-section{
    background: url("../img/promo-back.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
}
.big-text{
    font-size: 64px;
    margin-bottom: 30px;
}
.share-section{
    padding: 110px 0px;
    background-color: #EE5050;
}
ul.social-links li{
    padding: 0 15px;
}
ul.social-links li a{
    color: #24262B;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-size: 24px;
}
.footer-section{
    background-color: #24262B;
    padding: 50px 0;
    text-align: center;
    font-size: 14px;
}


@media only screen and (max-width: 1440px) {
    .mouse-pointer {
        position: relative;
        left: 50%;
        margin-left: -12px;
        bottom: auto;
    }
}
@media only screen and (max-width: 1200px) {
    .home-section .img-block {
        padding-top: 50px;
    }
    .hero-text-box {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .home-section{
        height: auto;
        min-height: 0;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home-section .img-block img {
        max-width: 210px;
        padding-top: 30px;
    }
    .hero-text-box h1 {
        font-size: 48px;
    }
}
@media only screen and (max-width: 991px) {
    .hero-text-box {
        padding-top: 80px;
        padding-bottom: 40px;
        text-align: center;
    }
    .home-section .img-block {
        text-align: center;
        padding-top: 50px;
        margin: 0 auto;
    }
    .feature-section .img-block-left{
        text-align: center;
    }
    .feature-section .img-block-left img{
        margin: 0 auto;
    }
    .single-feature {
        max-width: 320px;
        margin: 0 auto 70px;
        text-align: center;
    }
    .hero-text-box h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .promo-section {
        padding-top: 130px;
        padding-bottom: 130px;
        background-size: cover;
    }
    .big-text {
        font-size: 42px;
        margin-bottom: 30px;
    }
    .section{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .feature-section{
        padding-bottom: 30px;
    }
    .main-menu {
        height: 60px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .main-menu .navbar-nav>li>a {
        padding-top: 20px ;
        padding-bottom: 20px ;
    }
    .main-menu .navbar-brand {
        padding: 20px 20px 0 15px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-text-box h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .promo-section {
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
    }
    .btn {
        padding: 10px 30px;
        font-size: 15px;
    }
    .btn-row .btn {
        margin-right: 5px;
        margin-left: 5px;
    }
    .main-menu .navbar-brand, .main-menu.affix .navbar-brand {
        color: #fff !important;
        padding: 20px 15px 0;
        font-size: 18px;
    }
    .main-menu .navbar-nav>li>a {
        padding-top: 12.5px;
        padding-bottom: 12.5px;
    }

    .navbar-toggle {
        margin-top: 14px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-collapse.collapse.in {
        border-color: #24262b;
        background: #24262b;
    }
}
@media only screen and (max-width: 480px) {
    .btn-row {
        margin: 0;
    }
    .btn-row .btn{
        margin-bottom: 15px;
    }
    .home-section .img-block {
        text-align: center;
        padding-top: 0;
    }
    .app-download-buttons a {
        margin-bottom: 10px;
        display: inline-block;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

}